@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham_Medium/Gotham_medium.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Gotham yazı tipini uygulama */
body, .navbar-nav .nav-link, .btn, .logo-container {
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.navbar-nav li {
    padding-right: 64px;
}

.navbar-nav li a{
    color: white;
    border-radius: 15px;
}

.navbar-nav li a:hover{
    background-color: #F24447 !important;
    color: white;
}

.highlight{
    font-family: 'Gotham', sans-serif;
    font-size: 64px;
    color: #E52629;
}
.fatura-text {
    padding-left: 150px !important; /* Sağ tarafa padding ekleyerek sağa kaydırma */
}
.cebindeki-pos{
  padding-right: 0px !important;
  padding: 3rem;
}

.Cebindeki{
    font-size: 65px;
    line-height: 35px;
}

.Pos{
    font-size: 85px;
    font-weight: 700;
}
.pos-paragraf{    
    outline-width: 18px;
    line-height: 2;
}

.cebindeki-list div{
    z-index: 1;
    margin: 15px 0px 0px -35px;
}

.cebindeki-list div button{
    padding: 18px;
    border-radius: 20px;
}

.Firma-list button{
    z-index: 1;
    margin: 15px 0px 0px 85px;
    padding: 18px;
    border-radius: 20px;
}

.firma-rapor{
  padding-left: 10%;
}

.Firma{
  font-size: 65px;
  line-height: 65px;
}

.Firma-paragraf{    
  outline-width: 18px;
  line-height: 2;
  font-weight: 500;
}

.Haberler{
  background-color: #FEF1F1;
}
.Haberler-header{
  color : #E52629;
  font-size: 45px;
  font-weight: 700;
}

.custom-btn{
  font-size: 40px; /* Buton boyutu */
  color: black; /* Buton rengi */
  background-color: white; /* Arka plan rengi */

  border-radius: 50%; /* Yuvarlak buton */
  border: none;
  cursor: pointer;
}

.Kobi{
    font-size: 65px;
    line-height: 65px;
}

.Kobi-dijital{
  font-size: 65px;
  line-height: 65px;
}

.header1{
    font-family: 'Gotham', sans-serif;
    font-size: 64px;
    color: black;
    font-weight: 700;
}

.parag1{
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 500;
}
/* Ana başlık alanı */
.header {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}


/* Navbar ayarları */
.navbar {
    height: 100px;
}

.navbar-bg {
    background-image: url('resimler/Rectangle_4631.png');
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    height: 100px;
}

.navbar-custom {
    height: 100px;
}

.fatura-section
{
    background-color: #FEF1F1;
}

/* Butonlara padding ekleme */
.btn-outline-light, .btn-primary {
    border-radius: 50px;
    padding: 15px 20px;
}

.btn-outline-light {
    border-color: white;
    color: white;
    margin-right: 10px;
}

.btn-outline-light:hover {
    background-color: white;
    color: #E52629;
}

.btn-primary {
    background-color: white;
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #E52629;
    color: white;
    border: 1px solid;
}

/* Row için Arka Plan Ekleme */
.bg-custom {
    background-image: url('resimler/KOBI_KATILIM-\ Gri\ background\ 1.png'); /* Arka plan resmi */
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    border-radius: 15px;
    width: 100%;
}



.phone-section {
    position: relative;
    width: 50%; /* Genişliği yazıyla eşitle */
    height: auto;
    text-align: center;
}


.small-bg {
    position: absolute;
    width: 65%; /* Arka plan görselinin genişliğini küçültelim */
    top: 10%;  /* Yükseklik ayarı */
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.phones-img {
    position: relative;
    width: 60%; /* Telefon görselinin genişliğini küçültelim */
    z-index: 1;
    height: auto;
    margin-top: 20px;
}
/* Phone section için arka plan */

.checklist .list-group-item {
    border: none;
    background-color: white;
    border-radius: 15px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    padding: 20px;
}

.checklist .list-group-item.active-item {
    background-color: black;
    color: white;
}

.checklist .list-group-item .bi {
    font-size: 1.5rem;
}

.feature-box {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .feature-box:hover {
    background-color: black;
    color: white
  }

  .phone-image img {
    max-width: 100%;
    height: auto;
  }

  .phone-image {
    text-align: center;
  }

  /* Mobilde alanları ayırmak için spacing */
  @media (max-width: 768px) {
    .feature-box {
      margin-bottom: 30px;
    }
  }

  /* Başlık stili */
  .main-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #E52629;
    text-align: center;
    margin-bottom: 20px;
  }

  /* Açıklama stili */
  .sub-heading {
    font-size: 1.2rem;
    text-align: center;
    color: #555;
    margin-bottom: 40px;
  }

.bg-red {
    background-image: url('resimler/Frame\ 40586.png');
    background-repeat: no-repeat;
  }

  /* İki telefonu üst üste yerleştirmek için */
  .phone-wrapper {
    position: relative;
  }

  .phone-wrapper img:nth-child(2) {
    position: absolute;
    right: -50px;
  }

  .phone-wrapper img:nth-child(1) {
    margin-top: 50px;
  }

  /* test*/

  .pricing-card {
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .pricing-card .price {
    background-color: white; /* Beyaz arka plan */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px 0;
    font-size: 2.4rem;
    font-weight: bold;
    height: 115px;
  }
  
  /* Fiyat Renkleri */
  .silver .price {
    color: black; /* Silver için koyu gri */
  }
  
  .gold .price {
    color: #ED991C; /* Gold için altın sarısı */
  }
  
  .platinum .price {
    color: #ED1C24; /* Platinum için gri */
  }
  
  .premium .price {
    color: #1D3F95; /* Premium için kırmızı */
  }
  .pricing-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .pricing-card ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  .pricing-card ul li {
    margin: 10px 0;
  }
  .pricing-card .price {
    font-size: 2rem;
    font-weight: bold;
  }
  .btn-custom {
    
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
  }
  .btn-custom-red {
    color: #E52629;
    border-radius: 20px;
    padding: 10px 20px;
    padding-left: 35%;
  }
  /* Kart renklerini belirlemek için özel sınıflar */
  .silver {
    background-color: #FAFAF8;
  }
  .gold {
    background-color: #FEFAF3;
  }
  .platinum {
    background-color: #f7f8f9;
  }
  .premium {
    background-color: #FEF8F8;
  }

  .bg-dark-title {
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .bg-gold-title {
    background-color: #ED991C;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .bg-platinum-title {
    background-color: #AAB9C4;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .bg-premium-title {
    background-color: #ED1C24;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  .pricing-card ul li {
    margin-bottom: 24px; /* Her liste öğesinin altına 15px boşluk */
  }

  

  /* test */

  .custom-container {
    background-image: url('resimler/Frame\ 40586.png');
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 15px;
    color: white;
  }

  /* Sol taraf stil ayarları */
  .custom-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .custom-container p {
    font-size: 1.2rem;
  }

  /* Telefon görselleri için yeni isimlendirilmiş stil */
  .phone-display {
    position: relative;
  }

  .phone-display img {
    max-width: 100%;
    height: auto;
  }

  .display-phone1 {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .display-phone2 {
    position: relative;
    z-index: 2;
  }

  .qr-section {
    background-color: white;
    border-radius: 10px;
    color: black;
    text-align: center;
    width: fit-content;
  }

  .store-buttons {
    margin-top: 20px;
    margin-bottom: 25px
  }

  .store-buttons img {
    margin-right: 10px;
  }
  .apple{
    margin-bottom: 25px;
  }

  .qr-store{
    margin-bottom: 9rem !important;
  }

  .hemen-basvur{
    background-color: #E52629;
    color: white;
    
  }
  .telephone-404{
    margin-top: -85px;
  }


  /*blog */
  .blog-container{
    padding-top: 12rem !important;
    background-image: url('resimler/KOBI_KATILIM-\ Gri\ background\ 1.png');
  }

  /*blog bitiş*/
  /* test */

  .blog-title { /*kopyala bloga*/
    font-size: 3rem;
    font-weight: bold;
  }

  .blog-card img {
    border-radius: 15px;
  }

  .blog-card h5 {
    font-weight: bold;
    margin-top: 15px;
  }

  .blog-card p {
    color: #6c757d;
  }

  .blog-link {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }

  .blog-link:hover {
    text-decoration: underline;
  }

  /*test */

  .footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    font-size: 0.9rem;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .social-icons {
    display: inline-block; /* İkonları aynı hizaya getir */
  }
  
  .footer .social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: white;
  }
  
  .footer .social-icons a:hover {
    color: #ddd;
  }
  
  .footer p {
    margin-top: 10px;
    font-size: 0.8rem;
  }

  /*test bitiş */

  .download-btn{
    display: none !important;
  }
/* Responsive düzenlemeler */
@media (max-width: 768px) {

  .footer a {
    display: block; /* Mobilde linkler alt alta gelsin */
    margin: 10px 0;
    text-align: center; /* Mobilde linkleri ortala */
  }

  .footer .social-icons {
    display: flex; /* Mobilde ikonları yan yana getir */
    justify-content: center;
  }

  .footer .social-icons a {
    font-size: 20px;
    margin: 0 8px; /* Mobilde ikon aralarındaki boşluğu azalt */
  }

  .footer p {
    font-size: 0.8rem;
  }

  .mobil-qr{
    display: none;
  }

  .custom-container {
    background-image: url('resimler/mobil-red-bg.png');
    background-repeat: no-repeat;
    padding: 35px 0px 0px 0px !important;
  }
  .Kobi{
    font-size: 35px;
    text-align: center;
  }
  .custom-container p {
    font-size: 1.2rem;
    margin: 0px 0px 25px 0px !important;
    text-align: center;
  }
  .apple{
    margin-bottom: 0px !important;
  }
  .qr-store {
    margin-bottom: 2rem !important;
  }
  .download-btn{
    display: grid  !important;
  }
  .Firma-paragraf {
    padding-bottom: 25px;
  }

  .firma-rapor{
    padding-left: 3% !important;
  }
  .cebindeki-pos {

    padding-left: inherit;
    margin-top: 31px !important;
  }

  .bg-red {
    background-image: url('resimler/mobil-red-bg.png');
    background-repeat: no-repeat;
  }
  .carousel-slider .carousel-item {
    border: none;
  background-color: white;
  border-radius: 15px;
  font-size: 1.1rem;
  margin-bottom: 15px;
  padding: 20px;
}
.carousel-contol-btn {
  font-size: 40px;
  color: black;
  background-color: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: -100px;
}

  .header1{
    font-size: 35px !important;
    text-align: center;
  }
  .highlight{
    font-size: 35px !important;
  }
  .parag1{
    text-align: center;
  }
  
  .ust-button
  {
    width: 100%;
    margin-top: 15px;
  }

  .ust-metin
  {
    margin-top: 35px;
  }
    .phone-section img {
        max-width: 90%; /* Küçük ekranlarda genişlik arttırıldı */
    }

    .phone-section {
      width: 100% !important;
    }

    .phones-img {
      width: 100% !important;
    }
    .small-bg{
      width: 100% !important;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 1.75rem;
    }
    .container-fluid {
        display: block !important;
    }
    
    .navbar-buttons {
        display: none !important;
    }
    
    .navbar-bg {
        background-image: none;
    }
    .navbar-nav li a{
        color: black;
    }
    .navbar-collapse {
        background-color: white;
        z-index: 1000; 
    }
}